@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-light.css');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-regular.css');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-thin.css');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-light.css');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-regular.css');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-solid.css');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-thin.css');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-light.css');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-regular.css');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-solid.css');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-thin.css');

@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-brands-400.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-duotone-900.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-duotone-light-300.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-duotone-regular-400.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-duotone-thin-100.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-light-300.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-regular-400.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-sharp-duotone-light-300.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-sharp-duotone-regular-400.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-sharp-duotone-solid-900.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-sharp-duotone-thin-100.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-sharp-light-300.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-sharp-regular-400.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-sharp-solid-900.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-sharp-thin-100.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-solid-900.woff2');
@import url('https://site-assets.fontawesome.com/releases/v6.7.2/webfonts/fa-thin-100.woff2');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
